.inputContainer label {
  font-family: "poppin-regular";
  margin-bottom: 5px;
}
.inputMainWithIcon {
  position: relative;
}
.inputMainWithIcon input {
  border: none;
  background: var(--white-color);
  padding: 12px 0px 12px 25px;
  outline: none;
  width: 100%;
  font-family: "poppin-regular";
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.inputMainWithIcon input::placeholder {
  font-size: 14px;
}
.leftIconMain {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 16px;
  color: var(--text-color);
}
.eyeicon {
  position: absolute;
  right: 10px;
  font-size: 22px;
  top: 13px;
  color: var(--black-color);
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  --moz-appearance: textfield;
}

.radio_div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor:pointer;
  margin-right: 1vw;
  border: 1px solid gray;
}

.radio_label{
  cursor: pointer;
}

/* Hide the default radio button */
input[type="radio"] {
  display: none;
}

.textsize{
  width:100%;
  height:120px;
  outline: none;
}


.file_input + label{
  font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.file_input:focus + label,
.file_input + label:hover {
    background-color: red;
}