.main {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.left {
  flex-basis: 50%;
  background-color: var(--main-color);
}
.right {
  flex-basis: 50%;
  background-color: var(--white-color);
}
.left p {
  margin: 0;
  color: var(--white-color);
  font-size: 22px;
}
.right {
  margin: 0;
  color: var(--main-color);
  font-size: 22px;
}
