.pageMain {
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(220, 249, 255, 1) 0%,
    rgb(230 251 255) 48%,
    rgb(151 212 255) 97%
  );
}
